services:
  - type: web
    name: fake-news-detector-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    envVars:
      - key: PORT
        value: 5000
      - key: HUGGINGFACE_HUB_TOKEN
        sync: false
